.card {
  width: 80vw;
  height: 45vw;
  max-width: 640px;
  max-height: 360px;
  min-width: 320px;
  min-height: 180px;
  box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
  position: relative;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 10%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.btn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.visits {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
